.shopping-cart {
    margin-bottom: 30px;
}
.notification {
    text-align: center;
    font-weight: bold;
    color: var(--gray-500);
    margin-bottom: 20px;
}
.subtotal {
    color: var(--lavender-500);
}
.total-price {
    color: var(--lavender-500);
}
.cart-product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-product-quantity {
    color: var(--gray-400);
}
.shopping-cart-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.shopping-cart-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 5px;
}