.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checkout-form input {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}
.checkout-form input:focus {
    outline: none;
}
.checkout-form button {
    cursor: pointer;
    background-color: var(--lavender-300);
    color: var(--white-100);
    border: none;
    padding: 10px 15px;
    transition: background-color ease-out 150ms;
}
@media (hover: hover) and (pointer: fine) {
    .checkout-form button:hover {
        background-color: var(--lavender-100);
    }
}
.error {
    color: var(--warning-100);
    text-align: center;
}
.success {
    color: var(--success-100);
    text-align: center;
}