.product-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}
@media screen and (max-width: 730px) {
    .product-grid {
        justify-content: center;
    }   
}