.hero {
    background-color: var(--white-100);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 65px;
    padding: 0 20px;
    height: calc(100vh - 65px - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro {
    font-size: 4.2rem;
    font-weight: bold;
    color: var(--lavender-300);
    transition: font-size ease-out 150ms;
}
.intro-des {
    font-size: 1.3rem;
    color: var(--gray-500);
}
.hero-intro-container {
    width: 55%;
}
.hero-img-container {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero-img {
    width: 70%;
}
@media screen and (max-width: 1370px) {
    .intro {
        font-size: 3.8rem;
    }
}
@media screen and (max-width: 1160px) {
    .hero {
        flex-direction: column;
        height: auto;
    }
    .intro,
    .intro-des {
        text-align: center;
        display: block;
    }
    .hero-intro-container {
        width: 100%;
    }
    .hero-img-container {
        width: 100%;
    }
    .hero-img {
        width: 50%;
        min-width: 300px;
    }
}
@media screen and (max-width: 580px) {
    .intro {
        font-size: 8vw;
    }
}
@media screen and (max-width: 450px) {
    .hero {
        padding: 0;
    }
    .intro-des {
        padding: 0 30px;
    }
    .hero-img {
        min-width: 250px;
    }
}
