.hero {
    background-color: var(--gray-200);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 65px;
    padding: 0 20px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro {
    font-size: 4rem;
    font-weight: bold;
    color: var(--gray-500);
}
.intro-des {
    font-size: 1.3rem;
    color: var(--gray-500);
}
.hero-intro-container {
    width: 80%;
}
.hero-img-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img {
    width: 60%;
}